html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

section {
  height: 800px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
/* #region header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background-image: url(/img/headphones-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__bottom img {
  margin-bottom: 40px;
}
.header__bottom-title {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  color: #292929;
}
/* #endregion */
/* #region menu */
.menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background-color: #e8eff9;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.menu__bottom-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.nav__link {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #292929;
  text-decoration: none;
}
/* #endregion */
