html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #292929;
  font-size: 16px;
  line-height: 140%;
}

section {
}

ul,
ol {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
/* #region header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background-image: url(/img/headphones-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__bottom img {
  margin-bottom: 40px;
}
.header__bottom-title {
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5px;
}
/* #endregion */
/* #region menu */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 500ms;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background-color: #e8eff9;
}

.menu:target {
  transform: translateX(0%);
}

.menu__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.menu__bottom-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.nav__link {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #292929;
  text-decoration: none;
}
/* #endregion */

.main {
  padding: 120px;
}

.section__title {
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;
}

/* #region section__recommended */
.recommended {
  margin-bottom: 120px;
}

.recommended__products {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.product__photo {
  width: 100%;
  margin-bottom: 32px;
}

.product__title {
  font-size: 16px;
  margin-bottom: 8px;
}

.product__category {
  margin-bottom: 12px;
}

.product__price {
  font-weight: bold;
}

/* #endregion */

/* #region section__categories */
/* #endregion */

/* #region section__how-to-buy */
.how-to-buy__title {
  text-align: left;
}
/* #endregion */
